<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        {% include '@antiTheme/parts/nav.html.twig' %} 
        <!-- Masthead-->
        {% include '@antiTheme/parts/masthead.html.twig' %} 
        <!-- Services-->
        {% include '@antiTheme/parts/services.html.twig' %}
        <!-- Portfolio-->
        {% include '@antiTheme/parts/portfolio.html.twig' %}
        <!-- Call to action-->
        {% include '@antiTheme/parts/call.html.twig' %}
        <!-- Contact-->
        {% include '@antiTheme/parts/contact.html.twig' %}
        <!-- Footer-->
        {% include '@antiTheme/parts/footer.html.twig' %}
    </body>
</html>
